@import url('https://fonts.googleapis.com/css?family=Inria+Sans:100,200,300,400,500,600,700|Inter:100,200,300,400,500,600,700');

/*-------------- Nav -----------------*/

.mobile-nav {
    font-size: 150%;
    width: 100%;
    text-align: center;
    opacity: 0.6;
}
.mobile-nav i {
    padding: 0 20px 0 20px;
}

#mobile-nav {
    display: none;
}


/*-------------- Cover -------------*/

#cover-home-image{
    height: 400px;
    width: 100%;
    background:url("../images/uke-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: cover-focus;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/*------------- Global ----------*/

h2 {
    font-family: 'Inter', sans-serif;
    margin: 20px;
    text-align:center;
    color: #708090;
}

/*-------------- Home -------------*/

#quote {
    text-align: center;
}

.blockquote {
    display: inline-block;
    width: 70%;
    font-size: 150%;
    font-family: 'Inria Sans', sans-serif;
    background-color: lightgray;
    opacity: 0.4;
    text-align: center;
    padding: 10px;
}

#cta-links {
    width: 100%;
    text-align: center;
    margin: 20px;
    font-size: 80%;
}

#cta button {
    background-color: lavender;
    color: #708090;
    display: inline-block;
    width: 30%;
    padding: 10px 0 10px 10px;
    text-align: center;
    font-size: 200%;
    margin: 5px;
    border-radius: 8px;
}

#cta button:hover {
    background-color: palevioletred;
    color:white;
}


/*-------------- About -------------*/

#about-text {
    display: inline-block;
    background-color: lightgray;
    color: #708090;
    font-size: 150%;
    font-family: 'Inter', sans-serif;
    width: 45%;
    height: 120%;
    padding: 100px 0 150px 50px;
    text-align: left;
    margin: 40px;
}

#about-image {
     background:url("../images/uke-about.jpg");
     background-color: lightgray;
     display: inline-block;
     width: 300px;
     height: 300px;
     text-align: center;
     margin: 30px 30px 0 40px;
     border-style: solid;
     border-color: #cccccc;
     border-width: 3px;
     border-radius: 50%;
}


/*-------------- Booking -------------*/

#calendar {
    width: 100%;
    text-align: center;
}

#calendar-heading {
    color: #ffffff;
    background-color: #000000;
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px;
}

#week-days div {
    display: inline-block;
    width: 18%;
    height: 400px;
    padding: 30px 0 0 10px;
    text-align: center;
    font-size: 200%;
    margin: 20px 10px 20px 10px;
    background-color: lavender;
}

#week-days div:hover {
    background-color:palevioletred;
    color:white;
}

#email input {
    background-color: white;
    color: #708090;
    display: inline-block;
    width: 30%;
    padding: 5px 0 5px 5px;
    text-align: center;
    font-size: 100%;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid lavender;
}

#book-class p {
    font-size: 150%;
    padding: 20px 20px 10px 20px;
}

#calendar input {
    background-color: lavender;
    color: #708090;
    display: inline-block;
    width: 90%;
    padding: 10px 0 10px 10px;
    text-align: center;
    font-size: 100%;
    margin: 5px;
    border-radius: 8px;
}

#calendar input:hover {
    background-color: palevioletred;
    color:white;
}

h3 {
    margin-bottom: 20px;
}

span {
    color: green;
}

/*-------------- Play -------------*/


.table {
    background: url("../images/uke-bg.jpg");
    display: inline-block;
    width: 70%;
    text-align: center;
    margin: 9%;
}

.string {
    background: #000000;
    line-height: 50%;
    color: white;
    font: bold;
}

.fret {
    line-height: 195%;
}

.table td {
   width: 25%;
   border: 1px solid #000000;   

}

#video {
    display: absolute;
    width: 80%;
    text-align: center;
    margin: 10%;
}

/*-------------- Key Frames -------------*/
@keyframes cover-focus{
  from{
      transform: scale(1.2);
  }
  to{
      transform: scale(1);
  }
}

/*-------------- Footer -------------*/

footer {
    height: 70px;
    background-color: #000000;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 180%;
    margin-top: 1%;
    padding: 0.5%;
    color: #ffffff;
}

/*--------------- Media --------------*/

@media only screen and (max-width:950px)
{
#desktop-nav {
    display: none;
}

#mobile-nav {
    display: inline;
}

#cta button {
    width: 100%;
}

#about div {
    display: block;
    margin: 0;
    padding: 15px;
}

#about-text {
    width: 100%;
    text-align: center;
}

#week-days div {
    display: block;
    max-height: 50px;
    width: 100%;
    padding: 3px 0 0 3px;
}

#video {
    display: relative;
    width: 80%;
    height: auto;
    position: relative;
}


footer {
    max-height: 50px;
    padding: 1%;
    margin-top: 2%;
}

}