@import url('https://fonts.googleapis.com/css?family=Inria+Sans:100,200,300,400,500,600,700|Inter:100,200,300,400,500,600,700');

/*-------------- Nav -----------------*/

.mobile-nav {
    font-size: 150%;
    width: 100%;
    text-align: center;
}
.mobile-nav i {
    padding: 0 20px 0 20px;
    margin: 5px;
}

#mobile-nav {
    display: none;
}


/*-------------- Cover -------------*/
#cover-home-image{
  height: 300px;
  width: 100%;
  background:url("../images/uke-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: cover-focus;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

/*------------- General ----------*/

h2 {
    font-family: 'Inter', sans-serif;
}

/*-------------- Home -------------*/

.blockquote {
    font-size: 300%;
    font-family: 'Inria Sans', sans-serif;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}

/*-------------- About -------------*/

#about-text {
    display: inline-block;
    color: #000000;
    font-size: 150%;
    font-family: 'Inter', sans-serif;
    width: 45%;
    height: 120%;
    padding: 100px 0 150px 50px;
    text-align: left;
    margin: 40px;
}

#about-image {
     background:url("../images/uke-home.jpg");
     display: inline-block;
     width: 400px;
     height: 400px;
     text-align: center;
     margin: 30px 30px 0 40px;
     border-style: dashed;
     border-color: #cccccc;
     border-width: 3px;
     border-radius: 50%;
}


/*-------------- Booking -------------*/


#calendar {
    width: 100%;
    text-align: center;
}


#calendar-heading {
    color: #ffffff;
    background-color: #000000;
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px;
}
#week-days div {
    display: inline-block;
    width: 13%;
    height: 400px;
    padding: 30px 0 0 10px;
    text-align: center;
    font-size: 200%;
    margin: 2px;
    background-color: lightgray;
}


#week-days div:hover {
    background-color:palevioletred;
}

/*-------------- Play -------------*/


.table-responsive {
    background-color: brown;
    display: inline-block;
    width: 80%;
    text-align: center;
    margin: 9%;
}

.string {
    background: #000000;
    line-height: 70%;
    color: white;
    font: bold;
}

.fret {
    line-height: 200%;
}

.table-responsive td {
   width: 25%;
   padding-right: 4%;
}

#video {
    display: inline-block;
    width: 80%;
    text-align: center;
    margin: 10%;
}

/*-------------- Key Frames -------------*/
@keyframes cover-focus{
  from{
      transform: scale(1.2);
  }
  to{
      transform: scale(1);
  }
}

/*-------------- Footer -------------*/

footer {
    height: 70px;
    background-color: #000000;
}

.social-links {
    text-align: center;
}

.social-links li {
  display: inline;
}

.social-links i {
  font-size: 180%;
  margin: 1%;
  padding: 0.5%;
  color: #ffffff;
}

/*--------------- Media --------------*/

@media only screen and (max-width:600px)
{
#desktop-nav {
    display: none;
}

#mobile-nav {
    display: inline;
}


#about div {
    display: block;
    margin: 0;
    padding: 15px;
}

#about-text {
    width: 100%;
    text-align: center;
}

#week-days div {
    display: block;
    max-height: 50px;
    width: 100%;
    padding: 3px 0 0 3px;
}



footer {
    max-height: 50px;
    padding: 1%;
    margin-top: 2%;
}

}